<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" /> 
    <title>Eliminar cuenta</title>
</head>
<body>
    <center>
    {% include "menu.html" %}
    <h2>Estas seguro de eliminar tu cuenta?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Si</button> 
    </form>
    </center>
</body>
</html>